# Temporary files
*.000
*.bak
*.bck
*.lck
*.kicad_pcb-bak
\#auto_saved_files#
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
*-backups
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# CubeMX and firmware
.mxproject
